<article class="post mx-3 my-2 p-4 border rounded">
  <div class="title">
    <h4  target="_blank"><a href="/post/{{id}}">{{title}}</a></h4>
    <p>{{content}}</p>
  </div>
  <div class="meta">
     by {{user.username}} on {{format_date createdAt}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>