<div id="newpostbtn">
  <a href="/create">Create A New Blog</a>
</div>

{{#if posts.length}}
<section>
  <h2 class="mx-5">Your Blogs</h2>
  <ol>
    {{#each posts as |post|}}
    <li class="post mx-3 my-2 p-4 border rounded">
      <article>
        <div class="title">
          <h4 target="_blank"><a href="/post/{{id}}">{{title}}</a></h4>
          <p>{{content}}</p>
        </div>
        <div class="meta">
          by {{user.username}} on {{format_date createdAt}}
          |
          <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
          |
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit/Delete</a>

        </div>
      </article>

    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<section>
  <h2>You don't have any post yet.</h2>
</section>
{{/if}}